@use "../../../globalStyles" as *;

.patients {
  &_sec {
    padding: 40px 0;

    .noData {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 40px;

      img {
        width: 300px;
        max-width: 80%;
        margin-bottom: 24px;
      }

      p {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        color: $primary_text;
      }
    }
  }
}
